.demo-section{
  display: block;
  font-family: 'Advent Pro', sans-serif;

}
.recent-title{
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 3.5vw;
}

.demo{
  width: 25%;
  padding: 7%;
  text-align: center;
  border: 2px solid black;
  transition: .25s ease-in-out;
  border-radius: 1%;
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: .25s ease-in-out;
  margin: 2% auto;
  font-size: 1.5vw;
}
.demos{
  display: flex;
  padding: 2%;
}
.demo-link{
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: .25s ease-in-out;
}

.demo:hover{
  background: black;
}
.demo#gamco:hover{
  border: 2px solid lightblue;
  color: lightblue;
}
.demo#grateful:hover{
  border: 2px solid orange;
  color: orange;
}

.demo:hover .demo-link#grateful{
  color: red;
}
.demo:hover .demo-link#gamco{
  color: seagreen;
}

@media only screen and (max-width: 850px) {
  .recent-title{
  font-size: 8.5vw;
  }
  .demo{
    font-size: 5.5vw;
  }
}
