.navbar{
  width: 100%;
}
.nav-btn{
  width: 25%;
  height: 35px;
  background-color: white !important;
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.5vw;
  border: none;
  color: #aaa;
  transition: .25s ease-in-out;
}
.nav-btn:hover{
  color:black;
}
@media only screen and (max-width: 750px) {
  .nav-btn{
    font-size: 4.5vw;
  }
}
